* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #e2e1dc;
  color: white;
  position: relative;
  font-family: inter;
}
.notifications {
  position: absolute;
  right: 10px;
  top: 30px;
  overflow: hidden;
  z-index: 99;
}
.notification {
  width: 275px;
  padding: 20px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
  white-space: nowrap;
  background-color: #373c4f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 80;
}
.notification.popup {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-name: notification-in;
}
@keyframes notification-in {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}
.notification.popout {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-name: notification-out;
}
@keyframes notification-out {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}

.container {
  background-color: #373c4f;
  width: 440px;
  position: relative;
  padding: 25px 0 0 0;
}
.container .task-manger h1 {
  padding-left: 10px;
  margin-bottom: 30px;
}
.task-list,
.completed-task-list {
  padding-bottom: 20px;
}
.task-card {
  width: 400px;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}
.task-card.completed h4 {
  text-decoration: line-through;
}
.task-card.completed .task-card-bottom p {
  text-decoration: line-through;
}

.task-card .task-card-header p {
  text-align: right;
  font-style: italic;
}

.task-card .task-card-bottom p {
  margin-bottom: 10px;
}
.task-card .task-buttons {
  width: 140px !important;
  margin-left: auto;
}
.task-list-container,
.completed-task-list-container {
  background-color: #878895;
  height: auto;
}
.task-list-container > p,
.completed-task-list-container > p {
  padding: 12px 0;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  i {
    width: 30px;
    height: 30px;
  }
}
.task-list-container img,
.completed-task-list-container img {
  width: 30px;
  height: 30px;
}
.task-list.hidden,
.completed-task-list.hidden {
  display: none;
}
.add-task-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1ren;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-task-btn button {
  font-size: 24px;
  background: transparent;
  border: none;
  color: #878895;
  cursor: pointer;
}
.task-add-window {
  width: 400px;
  padding: 20px;
  color: #373c4f;
  position: absolute;
  background-color: #e2e1dc;
  bottom: 30px;
  height: 0;
}
@media screen and (min-width: 750px) {
  .task-add-window {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .task-add-window button {
    display: block;
    margin: 0;
    margin-top: 40px;
  }
}
.task-add-window.hidden {
  display: none;
}
@media screen and (max-width: 749px) {
  .task-card .task-card-header {
    flex-direction: column;
    gap: 20px;
  }
  .task-card {
    width: calc(100% - 10px);
  }

  .task-add-window.active {
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 100%;
  }
  .task-add-window {
    width: 95%;
  }
}
.task-add-window.active {
  animation-name: task-add-window-active;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  overflow: hidden;
  z-index: 100;
}

@keyframes task-add-window-active {
  from {
    height: 0px;
  }
  to {
    height: 250px;
  }
}
.task-add-window .task-add-window-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 20px;
}
.task-add-window .inputs {
  width: 100%;
}
.task-add-window .task-add-window-header i {
  padding: 10px 15px;
  cursor: pointer;
}
.task-add-window input {
  display: block;
  width: 100%;
  margin-top: 40px;
  border: transparent;
  background-color: #e2e1dc;
  font-size: 1rem;
  color: #373c4f;
  border-bottom: 1px solid #c9c7c7;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #b38add;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none;
  pointer-events: none;
}
.overlay.active {
  display: block;
  pointer-events: auto;
}
.task-add-window button {
  display: block;
  margin-top: 40px;
}
.task-add-window button.hidden {
  display: none;
}
